.ant-tabs {
  height: 100%;
}

.ant-tabs-content-holder {
  display: flex;
}

.ant-tabs-tabpane {
  display: flex;
  flex-direction: column;
}

.ant-tabs-top > .ant-tabs-nav {
  margin: 0 0 0 0 !important;
}
